@model MusicStore.Models.DataModels.Genre

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Etes-vous sure d'enlever ??</h3>
<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Hidden("GenreId")
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour a la liste", "Index")
        </div>
    }
</div>
