@model IEnumerable<MusicStore.Models.DataModels.Album>

@{
    ViewBag.Title = "Index";

}

<h2>Panier</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnneeParution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artiste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.Cover" class="img-rounded" style="max-height:50px;max-width:50px;min-height:50px;min-width:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnneeParution)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Artiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            @{
                ViewBag.total = ViewBag.total + item.Prix;
            }


            <td>
                <a class="btn btn-danger" href="/Panier/SupprimerUnArticle?AlbumId=@item.AlbumId">Supprimer l'article du panier</a>
            </td>

        </tr>
    }
    <tr>
        <td>
            TOTAL : @ViewBag.total.ToString("C")
        </td>
        <td>
            <a class="btn btn-danger" href="/Panier/ViderPanier">Vider Panier</a>
        </td>
    </tr>


</table>
